# Ignore the large csv files of collision data:
*.csv

# Except files of the form saaq_2011.csv to saaq_2022.csv
!saaq_201[1-9].csv
!saaq_202[0-2].csv

# Ignore these folders:
.idea/

# Ignore all __pycache__ directories
**/__pycache__/

# Ignore all .ipynb_checkpoints directories
**/.ipynb_checkpoints/

# Also ignore:
feedback.txt
montreal-vision-zero.png